body{
    background-image: url(juicyorange.jpg);
}
#regpg {
    background-color: rgb(236, 233, 233);
    float: right;
    height: 600px;
    width: 900px;
    margin-top: 50px;
    margin-right: 30px;
    border-bottom-left-radius: 250px ;
    border-top-left-radius: 250px;
}

.box {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 30px;
    border-radius: 10px;
    margin-bottom: 50px;
}
#lastname, #conpassword, #date, #year {
    margin-left: 30px;
}

#container{
    width: 590px;
    height: 350px;
    margin-left: 250px;
    margin-top: 30px;
}
.head {
    text-align: center;
    font-size: 40px;
}
#button {
    margin-left: 400px;
    background-color: orange;
    cursor: pointer;
}
#welcome{
    float: left;
    width:300px;
    padding-left: 0px;
    height: 150px;
    margin-top: 100px;
    margin-left: 100px;
}
#join {
    margin-left: 70px;
    width: 150px;
    height: 150px;
}
.para1{
    margin-left: 70px;
    font-size: 40px;
    margin-top: 0px;
    color: white;
}
.para2 {
    text-align: center;
    margin-right: 80px;
    font-size: 20px;
}
#tton {
    cursor: pointer;
    margin-left: 60px;
}